body,
html {
  background-color: #f7e5ff;
}

.calculator {
  margin-left: 12em;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 9px #999999;
  height: 800px;
  width: 800px;
}

h1 {
  color: black;
  padding-top: 1em;
}

p {
  color: black;
  font-style: italic;
}

#answer {
  background: #e4f6d4;
}

.button {
  cursor: pointer;
}

#plus {
  background: purple;
  color: white;
  text-align: center;
  height: 90px;
  font-weight: bold;

}

#minus {
  background: purple;
  color: white;
  font-weight: bold;
}

#divide {
  background: purple;
  color: white;
  font-weight: bold;
}

#multiply {
  background: purple;
  color: white;
}

#equals {
  background: #ff87ab;
  color: white;
  font-weight: bold;
}
