body,
html {
  background-color: #f7e5ff;
}

.calculator {
  margin-left: 12em;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: white;
  box-shadow: 0 9px #999999;
  height: 600px;
  width: 450px;
  border-top-left-radius: 80%30px;
  border-top-right-radius: 80%30px;
  border-bottom-left-radius: 80%30px;
  border-bottom-right-radius: 80%30px;
}

h1 {
  color: black;
  padding-top: 1em;
}

p {
  color: black;
  font-style: italic;
}

#answer {
  background: #e4f6d4;
  color: black;
}


button {
  width: 40px;
  height: 30px;
  cursor: pointer;
}

#plus {
  background: purple;
  color: white;
  height: 100px;
}

#minus {
  background: purple;
  color: white;
  font-weight: bold;
}

#divide {
  background: purple;
  color: white;
  font-weight: bold;
}

#multiply {
  background: purple;
  color: white;
}

#equals {
  background: #ff87ab;
  color: white;
  font-weight: bold;
  margin-right: 6.75em;
}
